/* global style */
img {
	width: 100%;
	height: 100%;
}
.container {
	display: grid;
	grid-template-rows: 400px 150px 600px 450px repeat(2, 600px);
	grid-gap: 10px;
}

.header {
	background-image: url(./uby-yanes-nuH70D5x6cQ-unsplash.jpg);
}
.search {
	display: grid;
	grid-template-columns: 70% 30%;
	background-color: beige;
}
.search__up {
	display: grid;
	grid-template-columns: repeat(5, 18%);
	align-items: center;
	padding: 1%;
	grid-gap: 2%;
	color: rgb(0, 0, 0);
}

.property {
	background-color: rgb(255, 255, 255);
	display: grid;
	grid-template-columns: repeat(4, 24%);
	grid-template-rows: repeat(2, 45%);
	grid-row-gap: 10%;
	padding: 5%;
	grid-gap: 1%;
}
.property__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 25%);
	background-color: rgb(255, 255, 255)38, 235, 201);
	font-size: small;
	padding: 3%;
}
.property__cards img {
	grid-row: 1 / span 2;
	grid-column: 1 / -1;
}
.property__cards h6 {
	grid-column: 1/-1;
}

.hel {
	background-color: green;
}
.trending {
	background-color: rgb(233, 233, 233);
	color: rgb(0, 0, 0);
	display: grid;
	grid-template-rows: 30% 70%;
	padding: 2%;
}
.trending__title {
	text-align: center;
	color: #000;
}
.trending__content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 50%);
	background-color: rgb(12, 9, 9);
	grid-gap: 2%;
	padding: 1%;
}

.ht {
	background-color: rgb(255, 255, 255);
}
.news {
	background-color: rgb(255, 255, 255);
	display: grid;
	padding: 5%;
}
.news__title {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: rgb(255, 255, 255);
	padding: 3%;
	grid-gap: 8%;
}
.news__content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5%;
}
.news__content--1 {
	padding: 2%;
}
.news__content--2 {
	padding: 9%;
}
.footer {
	background-color: rgb(189, 223, 251);
	background-image: url(./jeshua-sharkey-tS_aLD60nz0-unsplash.jpg);
	padding: 10%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10%;
}
.footer__ad div {
	padding: 5%;
}
