.container {
	display: grid;
	grid-template-rows: 200px 500px;
}
.header {
	display: grid;
	grid-template-rows: repeat(3 20%);
	grid-template-columns: repeat(2, 1fr);
	background-color: rgb(228, 190, 195);
	text-align: center;
}
.header__options {
	display: grid;
	grid-template-columns: 20% 5% 15% 10% 10% 30%;
	background-color: rgb(0, 0, 0);
	vertical-align: center;
	padding-left: 1%;
	grid-column: 1/-1;
	grid-gap: 2%;
	/* width: 190%; */
}
.header__text {
	text-align: center;
	grid-column: 1/-1;
	background-color: rgb(232, 211, 211);
}
.header__options div :nth-child(1) {
	color: rgb(255, 255, 255);
	padding-left: 10%;
}
.top {
	display: grid;
	grid-template-columns: 60% 40%;

	/* padding: 20%; */
}
.top__bg {
	background-color: rgb(203, 128, 128);
	background-image: url('bg\ fenty.jpg');
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 20%;
	height: 56%;
}
img {
	max-width: 100%;
	max-height: 100%;
}
button {
	background-color: black;
	color: rgb(255, 255, 255);
	height: 20%;
	width: 60%;
}
.top__footer {
	grid-column: 1/-1;
}
.launches {
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.launches__products {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 70% 30%;
	grid-gap: 5%;
	align-items: center;
	padding: 5%;
	text-align: center;
	background-image: url(./Plays-Nice-with-Background.png);
	padding: 10%;
	background-size: cover;
}
.launches__products div {
	background-color: rgb(251, 227, 212);
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.shadows {
	display: grid;
	grid-template-columns: 60% 40%;
}
.shadows__bg {
	background-image: url(./8569-FB-FALL-LAUNCH-HP-SITE-UPDATES_TERTIARY-SLIDER-1_DESKTOP_BULK_477x594.jpg);
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 20%;
	font-family: 'Courier New', Courier, monospace;
	height: 56%;
}
/* .shadows img {
	height: 100%;
	width: 100%; */

.shadows__btn {
	background-color: rgb(255, 255, 255);
	color: #000;
}
.sale {
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}
.sale__products {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 70% 30%;
	grid-gap: 5%;
	align-items: center;
	padding: 5%;
	text-align: center;
	background-image: url(./Plays-Nice-with-Background.png);
	padding: 10%;
	background-size: cover;
}
.sale__products div {
	background-color: rgb(251, 227, 212);
	text-align: center;
	font-family: monospace;
}
.skin {
	display: grid;
	grid-template-columns: 60% 40%;
}
.skin__bg {
	background-image: url(./bg.jpg);
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
	padding: 5%;
	height: 88%;
	letter-spacing: 0.3em;
	/* font-weight: 700; */
	/* line-height: 300%; */
}
.products {
	background-image: url(./featured-tile-section-bg_1.jpg);
	text-align: center;
	padding: 5%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	letter-spacing: 0.3em;
}
.products__img {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 5%;
	grid-gap: 3%;
}
.shop {
	height: 10%;
}
.gloss {
	display: grid;
	grid-template-columns: 70% 30%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
}
.gloss__bg {
	background-image: url(./red\ .jpg);
	padding: 10%;

	color: rgb(255, 255, 255);
}
.gloss__bg div {
	padding: 10%;
}
.btn {
	height: 60%;
}
.black {
	display: grid;
	grid-template-rows: 20% 80%;
}
.black__note {
	padding: 5%;
	background-image: url(./yes.jpg);
	text-align: center;
	/* background-color: rgb(255, 255, 255); */
	font-family: 'Courier New', Courier, monospace Times, Arial, sans-serif;
}
.black__note div {
	background-color: rgb(255, 255, 255);
	padding: 3%;
}
.black__photos {
	background-image: url(./OLAPIC_BG.jpg);
	color: rgb(255, 255, 255);
	text-align: center;
}
.black__photos--order {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 4%;
	padding: 5%;
}
.buton {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	height: 10%;
	width: 20%;
}
