.header {
   text-align: center; 
   color: rgb(255, 255, 255);
   background-image: linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url(screen-post-LJUaTzKtFNc-unsplash.jpg);
   background-size: cover;
    height: 60vh;
   display: grid;
   align-content: center;
   justify-items: center;
   padding: 10px;
}
.button {
    background-color: rgb(107, 176, 198);
    height: 30px ;
}
.services {
    background-color: rgb(237, 237, 237);
    padding: 60px;
}
.services__header {
   text-align: center;
}
.services__content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
    text-align: center;
    
} 
.services__content div {
    background-color: rgb(255, 255, 255);
    padding: 15px
}
#circle {
    width: 50px;
      height: 50px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: rgb(169, 169, 169);
}
.about__us {
    text-align: center;

}
.about__people {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}