body {
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(4,1fr);
height: 70vh;
}
div:nth-child(1) {
    background-color: coral;
    grid-column: 1/3;
    grid-row: 1/3;
   
}
div:nth-child(2) {
    background-color: cornflowerblue;
    grid-column: 3/-1 ;
}
div:nth-child(3) {
    background-color: darkgoldenrod;
    grid-row: 2/2;
    grid-column: 3/3;
    
}

div:nth-child(4) {
background-color: darkolivegreen;
grid-column: 4/-1 ;
grid-row: 2/3;
}
div:nth-child(5) {
    background-color: darksalmon;
    grid-row: 3/-1;
    grid-column: 1/3;

}
div:nth-child(6) {
    background-color: deepskyblue;
    grid-column:3/-1;
    grid-row: 3/4;
}
div:nth-child(7) {
    background-color: dimgray;
    grid-column: 3/4;
}
div:nth-child(8) {
    background-color: gold;
    grid-column: 4/-1;
    
}