.header h2 {
    background-color: burlywood;
    padding: 20px;    
}
.header {
   background-image: url(./dan-burton-oNlMfgwLbWI-unsplash.jpg);
   height: 440px;
   

} 
.header__lang {
    text-align: center;
    color: rgb(255, 255, 255);
}
.header__det {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    color: cornsilk;
}
.header__det--form {
    background-color: cornsilk;
    padding: 20px;
    display: grid;
    grid-gap: 5px;
    width: 250px;
    color: #000;
    grid-template-columns: 70% 30% ;
    
}

.button {
    background-color: darkkhaki;
    height: 30px;
    width: 250px;
}
.section {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    padding: 80px;
    height: 30px;
    grid-gap: 20px;
    justify-content: right;
   
}
.section h1 {
    grid-column: 1/-1;
    text-align: center;
}
.section button {
    background-color: rgb(245, 225, 219);
    width: 140px;
}
