body {
    text-align: center;
}
.header {
    background-color: cadetblue;
    height :100px ;
}
.section {
    background-color: rgb(235, 212, 156);
    display: grid;
    grid-template-columns: 30% 70% ;
    height: 240px;
    grid-gap: 10px;
}
.section__sidebar {
    background-color: darkgoldenrod;
}
.section__content {
    background-color: rgb(207, 143, 207);
}
.footer {
    background-color: rgb(160, 199, 108);
    height:100px ;
}